@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');


/* DEBUG */

.debug .container{
  border: 2px solid black;
  /* min-height: 1000px; */
} 

.debug [class^='col']{
  border: 1px dashed black;
}

.debug .row{
  min-height: 400px;
}

/* .debug [class^='col']{
  border: 1px dashed black;
} */
/* bg-color */

.debug .bg-blue_navy{
  background-color: #02008B;
}

.debug .bg-strong_pink{
  background-color: #EE81ED;
}

.debug .bg-salmon{
  background-color: #FFC0CA;
}

.debug .bg-cyan{
  background-color: #1D90FF;
}

.debug .bg-grey{
  background-color: #D3D3D3;
}

.debug .bg-dark_green{
  background-color: #238A23;
}

.debug .bg-black{
  background-color: #23272A;
}

.debug .bg-sea_green{
  background-color: #1FB2AA;
}

.debug .bg-pink{
  background-color: #FFB6C1;
}

.debug .bg-light_green{
  background-color: #7FFFD4;
}

.debug .bg-sugarcane{
  background-color: #ADD8E5;
}

.debug .bg-lemon_yellow{
  background-color: #DAA420;
}


/* RESET */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul, li, menu{
  list-style: none;
}

/* LAYOUT */

.container{
  max-width: 1024px;
  margin: auto;
  padding: 25px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

/* buttons */

.btn-sm{
  border: none;
  padding: 10px 18px;
  text-align: center;
  border-radius: 16px;
}

.btn-xl{
  border: none;
  padding: 15px 35px;
  text-align: center;
  border-radius: 40px;
  margin: 0 10px;
  font-size: large;
}

.bg-white{
  background-color: #FFFFFF;
}

.bg-black{
  background-color: #23272A;
}

.white{
  color: white;
}

.black{
  color: #23272A;
}

/* column width */

.flex{
  display: flex;
}

.xy-center{
  justify-content: center;
  align-items: center;
}

.col-1-6{
  width: calc(100%/6);
}

.col-4-6{
  width: calc(4*100%/6)
}

.col-3-5{
  width: calc(3*100%/5);
}

.col-2-5{
  width: calc(2*100%/5);
}

/* Navigator */

nav{
  background-color: #265EE9;
}

nav > .container > #navigator{
  max-height: 40px;
}

#navigator{
  justify-content: center;
  align-content: center;
}

#navigator .item{
  padding: 10px;
}

.nav-logo img{
  width: 100%;
}

.nav-menu{
  gap: 10px;
  color: white;
}

/* Hero */

.hero{
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.hero .container-sm{
  max-width: 90%;
  margin: 0 auto;
}

.hero .hero-box{
  min-height: 400px;
}

.title{
  font-weight: 800;
  font-size: xxx-large;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

.hero p{
  text-align: center;
  font-weight: 400;
  font-size: large;
  color: white;
  margin-bottom: 30px;
}

.hero-choose{
  text-align: center;
}

/* Channels */



/* Grey back with huge green box #238A23 */

.row .box-dark_green{
  flex-grow: 1;
  /* min-height: 700px  */
} */

/* Black back #23272A with four column #F08080 #1FB2AA */

.footer-top{
  border-bottom: 1px solid #E3E3E3;
}

/* .footer-top .col{
  min-height: 400px;
} */

.box-sea_green{
  flex-grow: 1;
  border-color: #E3E3E3;
}

.footer-top .box-salmon{
  flex-grow: 2;
}

/* Black footer #23272A with nav #7FFFD4 and elements pink #FFB6C1 */

section.footer-bottom{
  border-bottom: 1px solid #E3E3E3;
}

.footer-bottom .row{
  padding: 20px 0;
  justify-content: space-between;
}

.foot-logo, .foot-button{
  padding: 10px;
}







