@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

/* RESET */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul, li, menu{
  list-style: none;
}

/* LAYOUT */

.container{
  max-width: 1024px;
  margin: auto;
  padding: 25px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.divider{
  height: 71px;
}

div.divider.grey{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* buttons */

.btn-sm{
  border: none;
  padding: 10px 18px;
  text-align: center;
  border-radius: 16px;
}

.btn-xl{
  border: none;
  padding: 15px 35px;
  text-align: center;
  border-radius: 40px;
  margin: 0 10px;
  font-size: large;
}

/* backgrounds and colors */

.bg-white{
  background-color: #FFFFFF;
}

.bg-grey{
  background-color: #F6F6F6;
}

.grey{
  color: #F6F6F6;
}

.bg-black{
  background-color: #23272A;
}

.bg-light_blue{
  background-color: #8EA1E1;
}

.white{
  color: white;
}

/* column width */

.flex{
  display: flex;
}

.col-1-6{
  width: calc(100%/6);
}

.col-2-6{
  width: calc(2*100%/6);
}

.col-4-6{
  width: calc(4*100%/6)
}

.col-3-5{
  width: calc(3*100%/5);
}

.col-2-5{
  width: calc(2*100%/5);
}

/* position */

.xy-center{
  justify-content: center;
  align-items: center;
}

.y-center{
  align-items: center;
}

/* Navigator */

nav{
  background-color: #265EE9;
}

nav > .container > #navigator{
  max-height: 40px;
}

#navigator{
  justify-content: center;
  align-content: center;
}

#navigator .item{
  padding: 10px;
}

.nav-logo img{
  width: 100%;
}

.nav-menu{
  gap: 10px;
  color: white;
}

/* Hero */

.hero{
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.hero .container-sm{
  max-width: 90%;
  margin: 0 auto;
}

.hero .hero-box{
  min-height: 400px;
}

.title{
  font-weight: 800;
  font-size: xxx-large;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

.paragraph{
  font-weight: 400;
  font-size: large;
  margin-bottom: 30px;
}

.hero-choose{
  text-align: center;
}

/* Channels */

.p-top{
  padding-top: 30px;
}

.img-100{
  width: 100%;
}

/*Voice */

/* - - - */


/* Call to Action */
section.stream{
  padding-top: 100px;
}

#stream-image-xl{
  display: block;
  margin: 0 auto;
}

.call-to-a-text{
  font-weight: 600;
  font-size: xx-large;
}

div.call-to-a-text{
  margin-bottom: 30px;
}


/* Footer Top */

.box-sea_green{
  /* flex-grow: 1; */
  border-color: #E3E3E3;
}

.img-flag{
  width: 30px;
}

.language .language-text{
  margin-left: 5px;
}

.language-text i{
  margin-left: 4px;
}

div.link-list > ul > li:nth-child(1){
  color: #7189DA;
  font-weight: 800;
  font-size: medium;
}

div.link-list > ul > li > ul > li{
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.footer-top > .container{
  border-bottom: 1px solid #8EA1E1;
  padding-bottom: 50px;
}

/* Footer Bottom */

section.footer-bottom{
  border-bottom: 1px solid #E3E3E3;
}

.footer-bottom .row{
  padding: 20px 0;
  justify-content: space-between;
}

.foot-logo, .foot-button{
  padding: 10px;
}

.socials li {
  display: inline-block;
  padding: 10px;
}

.socials li:first-child{
  padding-left: 0;
}






